
.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}

.beneficios-grid {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.info {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid h3 {
    font-size: 3rem;
}

.contato-titulo-img {
    display: flex;
    gap: 1rem;
}

.contato-form {
    grid-column: span 2;
}

.contato-form, .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 320px;
}

.form-group  label{
    display: block;
}

.form-group input {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
}
.form-group input:focus {
    box-shadow: 0 0 5px 5px var(--secondary-color);
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
    cursor: pointer;
}

.form-group ::placeholder {
    color: #b6b6b6;
    font-weight: bolder;
}
