
.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.cover-img img {
    max-width: 70%;
    height: auto;
}

.intro-img img {
    max-width: 70%;
    height: auto;
}


/* Countdown clock*/
.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  
  #days, #hours, #minutes, #seconds {
    font-size: 7rem;
    font-weight: bold;
  }
  
  span {
    font-size: 14px;
  }

/* end countdown */

.top3-content {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}

.beneficios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    min-height: 100vh;
    margin-top: 2rem;
}

.teacher-info {
    text-align: center;
}

.teacher-name {
    font-size: 2.5rem;
}

.teacher-nog {
    width: 70%;
}

.teacher-debs {
    width: 43%;
}


.info {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    min-height: 100vh;
    margin-top: 2rem;
}

.grid h3 {
    font-size: 3rem;
}

.contato-titulo-img {
    display: flex;
    gap: 1rem;
}

.contato-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
}

.contato-form, .form-grid {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 320px;
}

.form-group  label{
    display: block;
}

.form-group input {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
}
.form-group input:focus {
    box-shadow: 0 0 5px 5px var(--secondary-color);
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
    cursor: pointer;
}

.form-group ::placeholder {
    color: #b6b6b6;
    font-weight: bolder;
}


.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    border: 0.1rem solid var(--primary-color);
    opacity: 0.7;
}

.valor-anterior {
    font-size: 3rem;
    text-align: center;
}

.valor-anterior span{
    text-decoration: line-through;
}

.valor-atual {
    font-size: 5rem;
    text-align: center;

}

.texto-justificado {
    text-align: justify;
}

/* agradecimento.html */
.whats-img {
    width: 30rem;
    height: 10rem;
    margin-bottom: 2rem;
}

.code-img {
    width: 30rem;
    height: 30rem;
}

@media (max-width: 800px) {
    .intro-content {
        grid-template-columns: 1fr;
    }

    .intro-text-content {
        margin-top: 2rem;
        text-align: center;
        gap: 0;
    }

    #days, #hours, #minutes, #seconds {
        font-size: 3.5rem;
        font-weight: bold;
      }

    .grid {
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
    }

    .beneficios-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .intro-img img {
        margin: 0 auto;
    }

    .menu {
        bottom: 0;
        width: 50%;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        left: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '×';
    }

    .menu-spacing {
        display: none;
    }

    .intro-img img, .coach-img img {
        max-width: 60%;
        height: auto;
    }

    .cover-img img {
        margin-left: 50px;
    }

    body {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    h2 {
        font-size: 2.2rem;
        text-transform: uppercase;
    }
    h3 {
        font-size: 1.9rem;
        text-transform: uppercase;
    }
    h4 {
        font-size: 1.6rem;
        text-transform: uppercase;
    }
    h5 {
        font-size: 1.3rem;
        text-transform: uppercase;
    }
    h6 {
        font-size: 1rem;
        text-transform: uppercase;
    }
}

